body {
    background-color: lightblue;
  }

  h1 {
    color: Blue;
    text-align: center;
  }

  #p1 {
    font-family: verdana;
    font-size: 30px;
  }
  #p2 {
    font-family: verdana;
    font-size: 60px;
  }
  ul{
  background-color: white;
  }